<div class="container mt-5">
  <div id="footer">
    <div class="frame">
            <ul class="nav-list">
        <li class="red">DI Done Right</li>
        <li class="red">800-898-9641</li>
        <li><a href="index.html" class="blackLink">Home</a></li>
        <li><a href="services/disability-insurance-services-overview.html">Services</a></li>
        <li><a href="products/disability-insurance-products.html">Products</a></li>
        <li><a href="salestools/disability-insurance-articles.html">Sales Tools</a></li>
        <li><a href="https://info.diservices.com/disability-insurance-services-contact-us/">Contact Us</a></li>
        <li><a href="privacy.html">Privacy Policy</a></li>
      </ul>      
     </div>     
  </div>
  <div class="row d-flex justify-content-center">
    <div class="center">
      <p>&copy; {{currentYear | date:'yyyy'}} Disability Insurance Services.</p>
    </div>
  </div>
</div>
