<div class="container">
  <div class="row ulBg justify-content-end">
    <div class="col-md-auto">
      <ul class="ulLi">
        <li><a href="http://info.diservices.com/blog-disability-insurance/">DISABILITY INSURANCE<br />AND LTCI BLOG</a></li>
        <li>BROKERS:<br />CALL (800) 898-9641</li>
        <li>CONSUMERS:<br />CALL (866) 484-0245</li>
      </ul>
    </div>  
    <div class="col-md-5 videoIframe">
      <iframe width="350" height="225" src="https://www.youtube.com/embed/D9z2RCdldPA?autoplay=0&controls=1&showinfo=0&rel=0&wmode=opaque" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col mt-3">
      <h5 class="red">Your Partner for Disability Insurance and Long-Term Care Insurance</h5>
    </div>
  </div>
  <div class="row">
    <div class="col homeCol mt-1">
      <ul class="homeColWrap">
        <li class="homeColWrap-item"><img src="../../assets/images/icon-consumers.png"></li>
        <li class="homeColWrap-item mb-2">Searching for a long-term care insurance 
            or disability insurance agent? We work 
            with the best agents in the country and 
            would be honored to introduce you.
        </li>
        <li class="homeColWrap-item">
          <a href="https://info.diservices.com/consumers" class="mr-4"><img src="../../assets/images/button-readmore.png" width="160" height="50"></a>
          <a href="https://aws.diservices.com/OnlineQuotes/CAM/ClientQuoteRequest.aspx?camid=1026&__hssc=&__hstc&hsCtaTracking=3e3a3f0f-632c-4b7b-800c-1ae975e7fcc5%7C3f964b3f-a0fd-478d-b407-b503be5c03ce" target="_blank">
            <img src="../../assets/images/button-requestaquote.png" width="160" height="50"></a>
        </li>
      </ul>
    </div>
    <div class="col homeCol mt-1">
      <ul class="homeColWrap">
        <li class="homeColWrap-item"><img src="../../assets/images/icon-insurance.png"></li>
        <li class="homeColWrap-item mb-2">Discover how we can help you succeed
          with a strong insurance carrier portfolio,
          end-to-end support and 24-hour LTCI
          and DI quote turnaround when entered online.
        </li>
        <li class="homeColWrap-item">
          <a href="https://info.diservices.com/brokers" class="mr-4"><img src="../../assets/images/button-readmore.png" width="160" height="50"></a>
          <a href="https://portal.diservices.com/QuoteEngine/pages/DISQuoteRequest.aspx" target="_blank">
            <img src="../../assets/images/button-requestaquote.png" width="160" height="50"></a>
        </li> 
      </ul>
    </div> 
  </div>
  <div class="row">
    <div class="col mt-1">
      <ul>
        <li class="homeNoLi">
          <h6 class="smallRed">Long-Term Care Insurance</h6>
        </li>
        <li class="homeNoLi">
          Long-term care insurance helps pay the expense of long-term care. 
          It can help pay for home health care, assisted living facility care and more. 
          Most importantly it helps seniors protect their assets, maintain control and 
          alleviate family members and friends from the burdens of care giving.
        </li>
      </ul>
    </div>
    <div class="col mt-1">
      <ul>
          <li class="homeNoLi">
            <h6 class="smallRed">Disability Insurance</h6>
          </li>
          <li class="homeNoLi">
            Disability insurance is also known as paycheck protection or income protection.
            These products provide replacement income when a breadwinner is unable to work due to illness or injury.
            Disability insurance is essential coverage for business owners and high-earning professionals. 
          </li>
        </ul>
    </div>
  </div>
  <div class="row homeRound rounded">
    <div class="row mt-2">
      <div>
        <ul>
          <li class="homeNoLi mb-2">
            <h6 class="smallRed">DIS in the Press</h6>
            <ul>
              <li>2018: The Standard Recognizes DIS with its top National Disability Insurance Award for the 20th Consecutive Year!</li>
              <li>2013: Dan Steenerson Awarded the National Underwriter Life & Health Industry Elite Award for Industry Awareness!</li>
              <li>2013: Dan Steenerson Awarded the Health Insurance Underwriter Excellence in Journalism Award!</li>
            </ul>
          </li>
          <li class="homeNoLi mb-3">
              If you want to make good things happen in your career, your organization and in the industry, 
              there's no better place to be than Disability Insurance Services. Whether you're an independent 
              broker or a managing agency, DIS can help you reach new heights. 
          </li>
          <li class="homeNoLi mb-3">
            <i>Disability Insurance Services is the nation's largest wholesale distributor of long-term care 
              insurance and disability insurance products. Our products protect Americans' paychecks and assets. 
              Request a free <a href="https://www.diservices.com/redirect/quoteengine.html" class="redLink">disability insurance quote </a> 
              or <a href="https://www.diservices.com/redirect/quoteengine.html" class="redLink">long-term care insurance quote now.</a></i>
          </li>
          <li class="homeNoLi mb-2">
            <h6 class="smallRed">Why do top insurance professionals choose DIS?</h6>          
            <ul>
              <li><b>Strong carrier portfolio:</b> Access all the major insurance carriers in one convenient place. 
                Our proprietary Analyzer makes it easy to compare options and identify superior solutions.</li>
              <li><b>End-to-end support:</b> Count on DIS for comprehensive insurance sales solutions, from sales training
                 and marketing tools to policy design and competitive long-term care and disability insurance quotes.</li>
              <li><b>Innovation:</b> We stay one step ahead of the market with industry-leading technologies to help insurance brokers 
                and affiliates operate more effectively and efficiently.</li>
              <li><b>Expertise:</b> With more than 300 years of combined industry experience, we effortlessly overcome barriers and 
                create solutions for our long-term care and DI sales networks.</li>
              <li><b>24-hour long-term care and disability insurance quote turnaround when entered online:</b> We'll help you seize every opportunity.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
